@media screen and (max-width: 1280px) {

  body{
    padding: 5rem 3rem;
    text-align: center;
  }

}

@media screen and (max-width: 1000px and min-width: 780px) {

  body{
    padding: 10rem 5rem;
    text-align: center;
  }

  main{
    width: 50%;
    height: 30%;
  }

  .mainDiv, .imgDiv{
    height: 30%;
  }

}

@media screen and (max-width: 780px) {
  .mainDiv{
    grid-column: 1/3;
    grid-row: 2/3;
    padding: 1.5rem;
  }

  .imgDiv{
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .testDiv{
    grid-template-columns: repeat(1, 3fr);
    grid-template-rows: repeat(3, 3fr);
  }
}
